.product_image {
	max-width: 20rem;
	margin: 0.5rem;
}

#product_container {
	top: 7rem;
	position: absolute;
	max-width: 60rem;
	margin: 0.5rem 5rem 0 5rem;
}

.product_title {
 font-size: 3rem;
}

.product_describtion {
	padding: 1rem;
}

.product_price {
	font-size: 2rem;
}

.product_card {
	padding-top: 1rem;
	margin-bottom: 5rem;
	border: 0.2rem solid black;
	max-width: 60rem;
}
